#title {
    background-color: #ff4c68;
}

body {
    font-family: "Montserrat";
    font-weight: 400;
}

h1 {
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;
    /* padding: 3% 15% 7%; */
}

/* .appleStore {
    width: 25px;
    margin-bottom: 7px;
}

.playstore {
    width: 20px;
    margin-bottom: 5px;
} */


/*! Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", san-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    /* font-family: "Monserrat"; */
    font-weight: lighter;
}

/*! Buttons */
.downloadButton {
    margin: 5% 3% 5% 0;
}

/* ! title image */
.iphone6 {
    transform: rotate(25deg);
    /* margin-top: 100px; */
    width: 22%;
    right: 20%;

    position: absolute;
    /* z-index: -1; */
}

#title {}

/*! Features */
#features {
    background-color: white;
    padding: 7% 12%;
    text-align: center;
    z-index: 1;
    position: relative;
}

h3 {
    font-weight: bold;
    font-family: "Montserrat";
}

.feature-box {
    padding: 3%;
}

p {
    color: #8f8f8f;
}


.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
    transition-duration: 0.5s;
}

/*! Testimonials */

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: white;
}

.carousel-item {
    padding: 7% 12%;
}

h2 {
    font-family: "Monserrat", sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.testimonial-image {
    border-radius: 50%;
    width: 10%;
    /* float: left; */
    margin: 20px;
}

/* Press */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
    padding: 7%;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}


/* Media Query */
@media (max-width:990px) {
    .iphone6 {
        position: static;
        transform: rotate(0);
        width: 45%
    }

    #title {
        text-align: center;
    }
}


/* Call to Action */

#cta {
    background-color: #ff4c68;
    padding: 7% 30% 7%;
    text-align: center;
    color: white;
}

/* Footer */

#footer {
    text-align: center;
    padding: 7% 15% 3%;
}

.social-media {
    margin: 0 1% 2% 0;
}